<div class="jumbotron">
  <h2>HipTime! Free and Easy</h2>
  <br>
  <h4>Trsted by Millions. Hiptime is the best online Task management App!</h4>
  <br>
  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-danger" %>
</div>
